
@{
    ViewBag.Title = "ChangePassword";
}


@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
}
<div class="content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 class="page-title">Change Password</h4>
            @using (Html.BeginForm("ChangePassword", "Auth"))
            {

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Old password</label>
                            <input type="password" name="oldPassword" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" name="newPassword" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center m-t-20">
                        <button type="submit" class="btn btn-primary submit-btn">Update Password</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*@section scripts{
        <script src="~/Scripts/jquery.slimscroll.js"></script>
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/app.js"></script>
    }*@